body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
  color: rgb(83, 75, 75);
}
h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 50px;
}
p {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
}
a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  color: rgb(83, 75, 75);
}
a:hover {
  font-weight: bold;
}
